# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg
MANIFEST

# Virtual environment
venv/
ENV/
env/
*.venv/

# IDE / Editor folders
.vscode/
.idea/
*.suo
*.swp
*.swn
*.suo
*.user
*.userossc
*.pdb
*.sublime-workspace
*.sublime-project

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
Desktop.ini

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
*.env

# Pytest cache
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# mypy
.mypy_cache/
.dmypy.json
